# Supabase Configuration
VITE_SUPABASE_URL=https://ikadkbzaeqqtamnkgowu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrYWRrYnphZXFxdGFtbmtnb3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3MzM5OTgsImV4cCI6MjA2NTMwOTk5OH0.k3pPH-2VIqahL_mJNz8DLAHT9WOPAJNRDrkazYpskTE